<div class="header">
    <div class="container">
        <div id="sort">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="sort()">
                          Sort By Name 
                        </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>

        </div>
        <div id="search">
            <input class="form-control" type="text" placeholder="Search By Name" aria-label="Search" (input)="search()" [(ngModel)]="searchQuery">
        </div>
    </div>
</div>