.header {
    margin: auto;
    padding: 10px;
    background: #1a75ff;
    display: flex
}

#sort {
    float: left;
    width: 50%;
    overflow: auto;
    text-align: left
}

#search {
    float: right;
    width: 50%;
    overflow: auto;
    text-align: right
}