// variable declarations
$auto:auto;
.header {
    margin: $auto;
    padding: 10px;
    background: #1a75ff;
    display: flex
}

@media (min-width: 768px) {
    .floats {
        float: right;
    }
}

@media (max-width: 576px) {
    .margin {
        margin-top: 10px;
    }
}

.form-control {
    width: 50%;
}

// select box
.select-style {
    width: 180px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa no-repeat 90% 50%;
    line-height: 2.5;
}

.select-style select {
    padding: 5px 8px;
    border: none;
    box-shadow: none;
}

.select-style select:focus {
    outline: none;
}