.userBody {
    background-color: #e9ecef;
    min-height: 100%;
    width: 100%;
    height: 100%;
}

.cardMargin {
    margin: 10px;
    background: white;
}

.cardMargin:hover {
    left: 5px;
}

.right {
    text-align: right;
}